<!-- -*- mode: XML -*- -->
<launch>
  <arg name="resolution" default="0.05"/>

  <include file="$(find solace)/launch/teleop.launch" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_link"/>
    <param name="map_frame" value="gmapping_map"/>
    <!--<param name="odom_frame" value="hector_map"/>-->
    <param name="particles" value="40"/>
    <param name="maxUrange" value="8"/>
    <param name="maxRange" value="12"/>
    <param name="delta" value="$(arg resolution)"/>
    <param name="linearUpdate" value=".2"/>
    <param name="angularUpdate" value=".3"/>    
    <param name="temporalUpdate" value="1.0"/>
    <param name="map_update_interval" value="2.0"/>
    <param name="xmin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="ymax" value="1.0"/>
  </node>

</launch>
