<!-- -*- mode: XML -*- -->
<launch>
  <arg name="racecar_version" value="racecar-v2" />

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
    <param name="output_frame" value="odom" />
    <param name="freq" value="30.0" />
    <param name="sensor_timeout" value="1.0" />

    <param name="odom_used" value="true" />
    <remap to="/vesc/odom" from="/odom" />
    
    <param name="imu_used" value="true" />
    <remap to="/imu_fixed" from="/imu_data" />

    <param name="vo_used" value="false" />
    <remap from="/zed/odom" to="/vo" />
    
    <param name="debug" value="false" />
    <param name="self_diagnose" value="false" />
  </node>

  <node pkg="solace" type="imu_server.py" name="imu_server" />
</launch>
